
Course_1-Introduction_to_Deep_Learning/readonly/keras/datasets/cifar-10-batches-py.tar.gz
Course_1-Introduction_to_Deep_Learning/readonly/keras/models/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
Course_1-Introduction_to_Deep_Learning/Week-3/102flowers.tgz
Course_1-Introduction_to_Deep_Learning/Week-3/imagelabels.mat
Course_1-Introduction_to_Deep_Learning/readonly/week3/102flowers.tgz
Course_1-Introduction_to_Deep_Learning/readonly/week3/imagelabels.mat
Course_1-Introduction_to_Deep_Learning/readonly/week4/lfw-deepfunneled.tgz
Course_1-Introduction_to_Deep_Learning/readonly/week4/lfw.tgz
Course_1-Introduction_to_Deep_Learning/readonly/week4/lfw_attributes.txt
Course_1-Introduction_to_Deep_Learning/Week-4/lfw.tgz
Course_1-Introduction_to_Deep_Learning/Week-4/lfw-deepfunneled.tgz
Course_1-Introduction_to_Deep_Learning/Week-4/decoder.h5
Course_1-Introduction_to_Deep_Learning/Week-4/encoder.h5
Course_1-Introduction_to_Deep_Learning/readonly/week6/captions_train-val2014.zip
Course_1-Introduction_to_Deep_Learning/readonly/week6/train2014_sample.zip
Course_1-Introduction_to_Deep_Learning/readonly/week6/train_img_embeds.pickle
Course_1-Introduction_to_Deep_Learning/readonly/week6/train_img_fns.pickle
Course_1-Introduction_to_Deep_Learning/readonly/week6/val2014_sample.zip
Course_1-Introduction_to_Deep_Learning/readonly/week6/val_img_embeds.pickle
Course_1-Introduction_to_Deep_Learning/readonly/week6/val_img_fns.pickle
Course_1-Introduction_to_Deep_Learning/Week-6/Final_Project/Image_Captioning_Final_Project/__pycache__/tqdm_utils.cpython-36.pyc
Course_1-Introduction_to_Deep_Learning/Week-6/__pycache__/download_utils.cpython-36.pyc
Course_1-Introduction_to_Deep_Learning/Week-6/__pycache__/grading.cpython-36.pyc
Course_1-Introduction_to_Deep_Learning/Week-6/__pycache__/tqdm_utils.cpython-36.pyc
*.pyc
*.zip
*.pickle
